<%- include('../partials/header', {title: skill.name } ) %>

    <div class="container">
        <div class="card col-md-4 offset-md-4 text-center" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">
                    <%= skill.name %>
                </h5>
                <p class="card-text">Do I have this skill: <%= skill.hasSkill ? '✅' : '❌' %>
                </p>
                <p>
                    <a href="/" class="card-link">Home</a>
                    <a href="/skills" class="card-link">Skills</a>
                </p>
                <p>
                    <a href="/skills/<%= skill.id %>/edit" method="POST">
                        <button type="submit" class="btn btn-primary"><i class="bi bi-pencil-square"></i>Edit</button>
                    </a>
                <form action="/skills/<%= skill.id %>?_method=DELETE" method="POST">
                    <button type="submit" class="btn btn-danger"><i class="bi bi-trash3"> </i>Delete</button>
                </form>
                </p>
            </div>
        </div>
    </div>
    <%- include('../partials/footer') %>